@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,700&display=swap');

:root{
    --primary-color: red;
}

body{
    font-family: 'Roboto', sans-serif;
}
/* container */
.container-fluid{
    padding-left: 1rem;
    padding-right: 1rem;
}
.container-centre{
    padding-left: 1rem;
    padding-right: 1rem;
    max-width: 600px;
    margin: auto;
}
/* list */
.primary-link{
    color: var(--primary-color);
}
